@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body ol {
	list-style: decimal;
}

.markdown-body ul ul,
.markdown-body ol ul {
	list-style: circle;
}

.markdown-body ul {
	list-style: disc;
}
